@model ParkFacilAdm.Models.Usuario

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Operador</h2>

<h3>¿Desea eliminar operador?</h3>
<div>
    <h4>Operador</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.ID_USUARIO)
        @Html.HiddenFor(model => model.FECHA_INGRESO_USUARIO)
        @Html.HiddenFor(model => model.CREADOR_USUARIO)

        <dt>
            @Html.DisplayNameFor(model => model.RUT_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUT_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAIL_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAIL_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
